ul li{
	list-style-type: none;
}

.nav, .pagination, .carousel, .panel-title a, th a, .useful-link{ cursor: pointer; }

.editCol {
	width: 64px;
}
.idCol {
	width: 96px;
}

.editing {
	background-color: rgba(255,255,128,.25);
}
.deleting {
	background-color: rgba(255,128,128,.25);
}
#resourceList{

	overflow: auto;
	overflow-x: hidden;
}
.sortSelected, .sortSelected:hover{
	color: rgba(255,255,0,.8);
}
.formSpacer{
	margin-bottom: 8px;
}

/* Fixes for time input clearables. */
input[type="time"]::-webkit-clear-button {
    display: none;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
	color:white;
}