ul li{
	list-style-type: none;
}

.nav, .pagination, .carousel, .panel-title a, th a{ cursor: pointer; }

.useful-link { cursor: pointer; }

.editCol {
	width: 64px;
}
.idCol {
	width: 96px;
}

body > div.modal.fade.ng-isolate-scope.in > div > div > div > div.modal-body > div > div:nth-child(1) > div > div > div > table{
	margin: 0 auto;
}

.editing {
	background-color: rgba(255,255,128,.25);
}
.deleting {
	background-color: rgba(255,128,128,.25);
}
#resourceList{

	overflow: auto;
	overflow-x: hidden;
}
.sortSelected, .sortSelected:hover{
	color: rgba(255,255,0,.8);
}
.formSpacer{
	margin-bottom: 8px;
}

/* Fixes for time input clearables. */
input[type="time"]::-webkit-clear-button {
    display: none;
}