<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="vm.newProject()">
					<i class="glyphicon glyphicon-plus"></i> Project
				</button>
			</span>
			<span class="input-group-addon">
				Filter:
			</span>
			<input type="text" ng-model="projectFilter" class="form-control" placeholder="ID / Title Filter..." style="max-width:100%"></input>
	    </div>
  	</div>

  <!-- Table -->
  	<div class="table-responsive">
  	<table class="table">
  		<thead>
	  		<tr>
	  			<th class="editCol"></th>
		    	<th class="idCol text-muted">
		    		<sort-label 
		    			text="'ID'" 
		    			is-selected="vm.isSort('id')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Desc.'"
		    			reverse-text="'Aesc.'"
		    			inverted="false"
		    			ng-click="vm.setSort('project','id')">
		    		</sort-label>
		    	</th>
		    	<th>
		    		<sort-label 
		    			text="'Title'" 
		    			is-selected="vm.isSort('name') || vm.isSort('initial')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'A -> Z'"
		    			reverse-text="'Z -> A'"
		    			inverted="true"
		    			ng-click="vm.setSort('project','name')">
		    		</sort-label>
		    	</th>
		    	<th>
		    		<sort-label 
		    			text="'Deadline'" 
		    			is-selected="vm.isSort('deadlineDate')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Nearest First'"
		    			reverse-text="'Farthest First'"
		    			inverted="true"
		    			ng-click="vm.setSort('project','deadlineDate')">
		    		</sort-label>
		    	</th>
		    	<th>
		    		<sort-label 
		    			text="'Department'" 
		    			is-selected="vm.isSort('departmentName')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'A -> Z'"
		    			reverse-text="'Z -> A'"
		    			inverted="true"
		    			ng-click="vm.setSort('project','departmentName')">
		    		</sort-label>
		    	</th>
		    	<th>
		    		<sort-label 
		    			text="'Resource Count'" 
		    			is-selected="vm.isSort('resourceCount')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Desc.'"
		    			reverse-text="'Aesc.'"
		    			inverted="true"
		    			ng-click="vm.setSort('project','resourceCount')">
		    		</sort-label>
		    	</th>
		    </tr>
    	</thead>
    	<tbody>
	    	<tr ng-repeat="project in vm.listProjects() | filter: projectFilter | orderBy: vm.sorter('project') : vm.reverse" ng-class="{'editing':vm.isEditing(project.id),'deleting':vm.isDeleting(project.id)}">
	    		<td class="editCol">
	    			<button class="btn btn-info btn-xs" ng-click="vm.editProject(project)">Edit</button>
	    		</td>
		    	<td class="idCol text-muted">{{(project.id) || "(ID Error)"}}</td>
		    	<td>{{project.name || "(Untitled Project)"}}</td>
		    	<td>{{(vm.getDeadline(project.deadlineId).date) || "(Unspecified Deadline)"}}</td>
		    	<td>{{(vm.getDepartment(project.departmentId).name) || "(Unspecified Department)"}}</td>
		    	<td>{{(project.resources.length) || "_"}}</td>
	    	</tr>
	    	<tr ng-show="vm.listProjects().length == 0">
	    		<td colspan="6" align="center"><em>No Projects In Database</em></td>
	    	</tr>
    	</tbody>
   	</table>
   	</div>
</div>