<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">	  		
  		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="vm.newDepartment()">
					<i class="glyphicon glyphicon-plus"></i> Department
				</button>
			</span>
			<span class="input-group-addon">
				Filter:
			</span>
			<input type="text" ng-model="nameFilter" class="form-control" placeholder="ID / Name Filter..." style="max-width:100%"></input>
	    </div>
  	</div>

  <!-- Table -->
  	<div class="table-responsive">
  	<table class="table">
  		<thead>
	  		<tr>
	  			<th class="editCol"></th>
		    	<th class="idCol text-muted">
		    		<sort-label 
		    			text="'ID'" 
		    			is-selected="vm.isSort('id')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Aesc.'"
		    			reverse-text="'Desc.'"
		    			inverted="true"
		    			ng-click="vm.setSort('department','id')">
		    		</sort-label>
		    	</th>
		    	<th>
		    		<sort-label 
		    			text="'Name'" 
		    			is-selected="vm.isSort('name') || vm.isSort('initial')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'A -> Z'"
		    			reverse-text="'Z -> A'"
		    			inverted="true"
		    			ng-click="vm.setSort('department','name')">
		    		</sort-label>
		    	</th>
		    	<th class="text-muted">
		    		<sort-label 
		    			text="'Project Count'" 
		    			is-selected="vm.isSort('projectCount')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Desc.'"
		    			reverse-text="'Aesc.'"
		    			inverted="true"
		    			ng-click="vm.setSort('department','projectCount')">
		    		</sort-label>
		    	</th>
		    	<th class="text-muted">
		    		<sort-label 
		    			text="'Deadline Count'" 
		    			is-selected="vm.isSort('deadlineCount')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Desc.'"
		    			reverse-text="'Aesc.'"
		    			inverted="true"
		    			ng-click="vm.setSort('department','deadlineCount')">
		    		</sort-label>
		    	</th>
		    	<th class="text-muted">
		    		<sort-label 
		    			text="'Resource Count'" 
		    			is-selected="vm.isSort('resourceCount')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Desc.'"
		    			reverse-text="'Aesc.'"
		    			inverted="true"
		    			ng-click="vm.setSort('department','resourceCount')">
		    		</sort-label>
		    	</th>
		    </tr>
    	</thead>
    	<tbody>
	    	<tr ng-repeat="department in vm.listDepartments() | filter: nameFilter | orderBy: vm.sorter('department') : vm.reverse" ng-class="{'editing':vm.isEditing(department.id),'deleting':vm.isDeleting(department.id)}">
	    		<td class="editCol">
	    			<button class="btn btn-info btn-xs" ng-click="vm.editDepartment(department)">Edit</button>
	    		</td>
		    	<td class="idCol text-muted">{{department.id || "(ID Error)"}}</td>
		    	<td>{{department.name || '(Unnamed Department)'}}</td>
		    	<td class="text-muted">{{vm.getDepartmentFull(department.id).projects.length  || "-"}}</td>
		    	<td class="text-muted">{{vm.getDepartmentFull(department.id).deadlines.length || "-"}}</td>
		    	<td class="text-muted">{{vm.getDepartmentFull(department.id).resources.length || "-"}}</td>
	    	</tr>
	    	<tr ng-show="vm.listDepartments().length == 0">
	    		<td colspan="6" align="center"><em>No Departments In Database</em></td>
	    	</tr>
    	</tbody>
   	</table>
   	</div>
</div>