<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="vm.newProject()">
					Create New Project
				</button>
			</span>
			<input type="text" ng-model="projectFilter" class="form-control" placeholder="ID / Title Filter..." style="max-width:100%"></input>
	    </div>
  	</div>

  <!-- Table -->
  	<div class="table-responsive">
  	<table class="table">
  		<thead>
	  		<tr>
	  			<th class="editCol"></th>
		    	<th class="idCol text-muted">
		    		<a ng-click="vm.setProjectOrder('id')" >
		    			ID
		    		</a>
		    	</th>
		    	<th>
		    		<a ng-click="vm.setProjectOrder('name')" >
		    			Title
		    		</a>
		    	</th>
		    	<th>
		    		<a ng-click="vm.setProjectOrder('deadlineData')" >
		    			Deadline
		    		</a>
		    	</th>
		    	<th>
		    		<a ng-click="vm.setProjectOrder('departmentName')" >
		    			Department
		    		</a>
		    	</th>
		    	<th>
		    		<a ng-click="vm.setProjectOrder('resourceCount')" >
		    			Resource Count
		    		</a>
		    	</th>
		    </tr>
    	</thead>
    	<tbody>
	    	<tr ng-repeat="project in vm.listProjects() | filter: projectFilter | orderBy: vm.orderProjects : vm.reverse" ng-class="{'editing':vm.isEditing(project.id),'deleting':vm.isDeleting(project.id)}">
	    		<td class="editCol"><button class="btn btn-info btn-xs" ng-click="vm.editProject(project)">Edit</button></td>
		    	<td class="idCol text-muted">{{(project.id) || "(ID Error)"}}</td>
		    	<td>{{project.name || "(Untitled Project)"}}</td>
		    	<td>{{(vm.getDeadline(project.deadlineId).date) || "(Unspecified Deadline)"}}</td>
		    	<td>{{(vm.getDepartment(project.departmentId).name) || "(Unspecified Department)"}}</td>
		    	<td>{{(project.resources.length) || "_"}}</td>
	    	</tr>
	    	<tr ng-show="vm.listProjects().length == 0">
	    		<td colspan="6" align="center"><em>No Projects In Database</em></td>
	    	</tr>
    	</tbody>
   	</table>
   	</div>
</div>