<div class="panel panel-default">
  	<div class="panel-heading">
  		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="vm.newDeadline()">
					<i class="glyphicon glyphicon-plus"></i> Deadline
				</button>
			</span>
			<span class="input-group-addon">
				Filter:
			</span>
			<input type="text" ng-model="dateFilter" class="form-control" placeholder="ID / Date Filter..." style="max-width:100%"></input>
	    </div>
  	</div>
  	<div class="table-responsive">
  	<table class="table">
  		<thead>
	  		<tr>
	  			<th class="editCol"></th>
		    	<th class="idCol text-muted">
		    		<sort-label 
		    			text="'ID'" 
		    			is-selected="vm.isSort('id')" 
		    			is-reversed="vm.reverse" 
		    			regular-text="'Desc.'"
		    			reverse-text="'Aesc.'"
		    			inverted="false"
		    			ng-click="vm.setSort('deadline','id')">
		    		</sort-label>
		    	</th>
		    	<th>
		    		<sort-label 
		    			text="'Date'" 
		    			is-selected="vm.isSort('date') || vm.isSort('initial')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Farthest First'"
		    			reverse-text="'Nearest First'"
		    			inverted="false"
		    			ng-click="vm.setSort('deadline','date')">
		    		</sort-label>
		    	</th>
		    	<th class="text-muted">
		    		<sort-label 
		    			text="'Project Count'" 
		    			is-selected="vm.isSort('projectCount')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Aesc.'"
		    			reverse-text="'Desc.'"
		    			inverted="false"
		    			ng-click="vm.setSort('deadline','projectCount')">
		    		</sort-label>
		    	</th>
		    	<th class="text-muted">
		    		<sort-label 
		    			text="'Department Count'" 
		    			is-selected="vm.isSort('departmentCount')" 
		    			is-reversed="vm.reverse"
		    		 	regular-text="'Aesc.'"
		    			reverse-text="'Desc.'"
		    			inverted="false"
		    			ng-click="vm.setSort('deadline','departmentCount')">
		    		</sort-label>
		    	</th>
		    	<th class="text-muted">
		    		<sort-label 
		    			text="'Resource Count'" 
		    			is-selected="vm.isSort('resourceCount')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Aesc.'"
		    			reverse-text="'Desc.'"
		    			inverted="false" 
		    			ng-click="vm.setSort('deadline','resourceCount')">
		    		</sort-label>
		    	</th>
		    </tr>
    	</thead>
    	<tbody>
	    	<tr ng-repeat="deadline in vm.listDeadlines() | filter: dateFilter | orderBy: vm.sorter('deadline') : vm.reverse" 
	    	ng-class="{'editing':vm.isEditing(deadline.id),'deleting':vm.isDeleting(deadline.id)}">
	    		<td class="editCol">
					<button type="button" class="btn btn-info btn-xs" ng-click="vm.editDeadline(deadline)" >Edit</button>
	    		</td>
	    		<td class="text-muted">{{deadline.id}}</td>
		    	<td>{{(deadline.date) || "Error"}}</td>
		    	<td class="text-muted">{{vm.getDeadlineFull(deadline.id).projectIds.length || "-"}}</td>
		    	<td class="text-muted">{{vm.getDeadlineFull(deadline.id).departmentIds.length || '-'}}</td>
		    	<td class="text-muted">{{vm.getDeadlineFull(deadline.id).resourceIds.length || '-'}}</td>
	    	</tr>
	    	<tr ng-show="vm.listDeadlines().length == 0">
	    		<td colspan="6" align="center"><em>No Deadlines In Database</em></td>
	    	</tr>
    	</tbody>
   	</table>
   	</div>
</div>