<div class="panel panel-default">
  <!-- Default panel contents -->
  	<div class="panel-heading">
  		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" ng-click="vm.newResource()">
					<i class="glyphicon glyphicon-plus"></i> Resource
				</button>
			</span>
			<span class="input-group-addon">
				Filter:
			</span>
			<input type="text" ng-model="resourceFilter" class="form-control" placeholder="ID / Name Filter..." style="max-width:100%"></input>
	    </div>
  	</div>

  <!-- Table -->
  	<div class="table-responsive">
  	<table class="table">
  		<thead>
	  		<tr>
	  			<th class="editCol"></th>
		    	<th class="idCol text-muted">
		    		<sort-label 
		    			text="'ID'" 
		    			is-selected="vm.isSort('id')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Desc.'"
		    			reverse-text="'Aesc.'"
		    			inverted="false"
		    			ng-click="vm.setSort('resource','id')">
		    		</sort-label>
		    	</th>
		    	<th>
		    		<sort-label 
		    			text="'Name'" 
		    			is-selected="vm.isSort('name') || vm.isSort('initial')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'A -> Z'"
		    			reverse-text="'Z -> A'"
		    			inverted="true"
		    			ng-click="vm.setSort('resource','name')">
		    		</sort-label>
		    	</th>
		    	<th class="text-muted">
		    		<sort-label 
		    			text="'Project Count'" 
		    			is-selected="vm.isSort('projectCount')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Aesc.'"
		    			reverse-text="'Desc.'"
		    			inverted="false"
		    			ng-click="vm.setSort('resource','projectCount')">
		    		</sort-label>
		    	</th>
		    	<th class="text-muted">
		    		<sort-label 
		    			text="'Department Count'" 
		    			is-selected="vm.isSort('departmentCount')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Aesc.'"
		    			reverse-text="'Desc.'"
		    			inverted="false"
		    			ng-click="vm.setSort('resource','departmentCount')">
		    		</sort-label>
		    	</th>
		    	<th class="text-muted">
		    		<sort-label 
		    			text="'Deadline Count'" 
		    			is-selected="vm.isSort('deadlineCount')" 
		    			is-reversed="vm.reverse"
		    			regular-text="'Aesc.'"
		    			reverse-text="'Desc.'"
		    			inverted="false"
		    			ng-click="vm.setSort('resource','deadlineCount')">
		    		</sort-label>
		    	</th>
		    </tr>
    	</thead>
    	<tbody>
	    	<tr ng-repeat="resource in vm.listResources() | filter: resourceFilter | orderBy: vm.sorter('resource') : vm.reverse" ng-class="{'editing':vm.isEditing(resource.id),'deleting':vm.isDeleting(resource.id)}" >
	    		<td class="editCol">
	    			<button class="btn btn-info btn-xs" ng-click="vm.editResource(resource)">Edit</button>
	    		</td>
		    	<td class="idCol text-muted">{{resource.id || "(ID Error)"}}</td>
		    	<td>{{resource.name || "(Unnamed Resource)"}}</td>
		    	<td class="text-muted">{{vm.getResourceFull(resource.id).projectIds.length || "-"}}</td>
		    	<td class="text-muted">{{vm.getResourceFull(resource.id).departmentIds.length || "-"}}</td>
		    	<td class="text-muted">{{vm.getResourceFull(resource.id).deadlineIds.length || "-"}}</td>
	    	</tr>
	    	<tr ng-show="vm.listResources().length == 0">
	    		<td colspan="6" align="center"><em>No Resources In Database</em></td>
	    	</tr>
    	</tbody>
   	</table>
   	</div>
</div>