<div>
	<ul class="list-unstyled">
		<li ng-repeat="deadline in vm.deadlines | orderBy : 'timestamp' ">
			<h2>
				<core-deadline-date id="deadline.id"></core-deadline-date>
				<small> deadline</small>
			</h2>
			<ul ng-repeat="projectId in deadline.projectIds | orderBy : vm.projectSortPredicate : false" >
				<li>
					<h4>
						<span class="text-muted">
							Project:
						</span>
						<a ui-sref=".project({'id':projectId})">
							<core-project-name id="projectId"></core-project-name>
						</a>
					</h4>
					<ul>
						<li>
							<span class="text-muted">Dept:</span> 
							<core-department-name id="vm.getProject(projectId).departmentId"></core-department-name>
						</li>
						<div>
							<core-resource-list
								id="projectId"
								is-list  = "vm.sortingStateA | isState" 
								is-count = "vm.sortingStateB | isState">
							</core-resource-list>
						</div>
					</ul>
				</li>
			</ul>
			<ul ng-show="deadline.projectIds.length == 0">
				<li><em>No projects.</em></li>
			</ul>
		</li>
	</ul>
</div>