<div>
	<h2>{{vm.project.name || "(Untitled Project)"}} <small>project</small> <small>(<a ng-click="vm.edit(vm.project)">edit</a>)</small></h2>
	<ul class="list-unstyled">
		<li><span class="text-muted">Due:</span> {{vm.getDeadline(vm.project.deadlineId).date || "(Undefined Date)" }}</li>
		<li><span class="text-muted">Dept:</span> {{vm.getDepartment(vm.project.departmentId).name || "(Undefined Department)" }}</li>
		<li>
			<span class="text-muted">Resources</span>
			<ul>
				<li ng-repeat="resourceId in vm.project.resources">
					{{vm.getResource(resourceId).name || "(Unnamed Resource)"}}
				</li>
				<li ng-show="vm.project.resources.length == 0">
					<em>No resources assigned to this project.</em>
				</li>
			</ul>
		</li>
	</ul>
</div>