<div ng-init="vm.edit(vm.project)">
	<h2>
		{{vm.project.name}}
		<small>project</small> 
		<small>(<a class="useful-link" ng-click="vm.edit(vm.project, '^')">quick edit</a>)</small>
	</h2>
	<ul class="list-unstyled">
		<li><span class="text-muted">Deadline: </span>
			{{vm.getDeadline(vm.project.deadlineId).date}}
		</li>
		<li>
			<span class="text-muted">Dept:</span> 
			{{vm.getDepartment(vm.project.departmentId).name || "(Undefined Department)" }}
		</li>
		<li>
			<span class="text-muted">Resources</span>
			<ul>
				<li ng-repeat="resourceId in vm.project.resources">
					{{vm.getResource(resourceId).name || "(Unnamed Resource)"}}
				</li>
				<li ng-show="vm.project.resources.length == 0">
					<em>No resources assigned to this project.</em>
				</li>
			</ul>
		</li>
	</ul>
</div>