<div>
	<div class="modal-header">
		<h4 class="modal-title"><small> Editing: </small>{{ vm.resource.name || "(Unnamed Resource)" }}</h4>
	</div>
	<div class="modal-body">
		<form name="resourceForm">
			<div ng-class="{ 'has-error': resourceForm.resourceName.$touched && resourceForm.resourceName.$invalid }">
				<div id="resourceName" class="input-group">
					<label class="input-group-addon">Name</label>
					<input
						type="text"
						id="ResourceTitleEntry"
						name="resourceName"
						ng-model="vm.resource.name" 
						ng-minlength="1" 
						class="form-control"
						placeholder="Enter a Resource Name"
						required = "true">
					</input>
				</div>
				<div ng-messages="resourceForm.resourceName.$error">
					<p class="help-text text-danger" ng-message="required">A Resource Name is required.</p>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" ng-click="vm.sendOk(vm.resource)" class="btn btn-success" ng-disabled="resourceForm.$invalid">Save Changes</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" ng-click="vm.sendCancel()" class="btn btn-warning">Cancel</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" ng-click="vm.sendDelete()" class="btn btn-danger" ng-disabled="resourceForm.$invalid">Delete</button>
			</div>
		</div>
	</div>
</div>