<div>
	<div class="modal-header">
		<h4 class="modal-title"><small> Editing: </small>{{vm.resource.name || "(Unnamed Resource)"}}</h4>
	</div>
	<div class="modal-body">
		<form name="resourceForm">
			<div ng-class="{ 'has-error': resourceForm.resourceName.$touched && resourceForm.resourceName.$invalid }">
				<div id="resourceName" class="input-group">
					<label class="input-group-addon">Name</label>
					<input
						type="text"
						id="ResourceTitleEntry"
						name="resourceName"
						ng-model="vm.resource.name" 
						ng-minlength="1" 
						class="form-control"
						placeholder="Enter a Resource Name"
						required = "true">
					</input>
				</div>
				<div ng-messages="resourceForm.resourceName.$error" ng-if="resourceForm.resourceName.$dirty">
					<p class="help-text text-danger" ng-message="required">A Resource Name is required.</p>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="vm.sendOk(vm.resource)" ng-disabled="resourceForm.$invalid">
			Save Changes
		</button>
		<button class="btn btn-warning" ng-click="vm.sendCancel()">
			Cancel
		</button>
		<button class="btn btn-danger" ng-click="vm.sendDelete()" ng-disabled="resourceForm.$invalid">
			Delete
		</button>
	</div>
</div>