<div class="modal-content">
	<div class="modal-header bg-danger">
		<h4 class="modal-title">Are you sure?</h4>
	</div>
	<div class="modal-body text-center">
		<p>You are about to remove the item:</p>
		<hr>
		<h3>{{vm.body}} <small>({{vm.type}})</small></h3>
		<hr>
		<p>If you decide to continue, every reference to this item will be throughly removed from the dataset in addition to the item itself.</p>
		<h5>Once completed, this operation cannot be undone.</h5>
	</div>
	<div class="modal-footer">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" ng-click="vm.yes()" class="btn btn-success">Yes. Please remove this.</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" ng-click="vm.no()" class="btn btn-danger">No. Do not remove this.</button>
			</div>
		</div>
	</div>
</div>