<div>
	<div class="modal-header">
		<h4 class="modal-title"><small> Editing: </small>{{vm.department.name || "(Unnamed Department)"}}</h4>
	</div>
	<div class="modal-body">
		<form name="departmentForm">
			<div ng-class="{ 'has-error': departmentForm.departmentName.$touched && departmentForm.departmentName.$invalid }">
				<div id="departmentName" class="input-group">
					<label class="input-group-addon">Name</label>
					<input
						type="text"
						id="ResourceTitleEntry"
						name="departmentName"
						ng-model="vm.department.name" 
						ng-minlength="1" 
						class="form-control"
						placeholder="Enter a Department Name"
						required = "true">
					</input>
				</div>
				<div ng-messages="departmentForm.departmentName.$error">
					<p class="help-text text-danger" ng-message="required">A Department Name is required.</p>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" ng-click="vm.sendOk(vm.department)" class="btn btn-success" ng-disabled="departmentForm.$invalid">Save Changes</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" ng-click="vm.sendCancel()" class="btn btn-warning">Cancel</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" ng-click="vm.sendDelete()" class="btn btn-danger" ng-disabled="departmentForm.$invalid">Delete</button>
			</div>
		</div>
	</div>
</div>