<div>
	<div class="modal-header">
		<h4 class="modal-title">
			<small> Editing Deadline </small>
			{{vm.deadline.date || "(Deadline Error)"}}
		</h4>
	</div>
	<div class="modal-body">
		<h3 class="text-center" style="margin:0">{{vm.deadline.date || "(Deadline Error)"}}</h3>
		<hr>
		<div class="row">

			<div class="col-sm-6" style="display:flex;justify-content:center;align-items:center;">

			  	<div class="input-group">
					<input 
						type="text" 
						class="form-control"
						uib-datepicker-popup="MMMM dd, yyyy"
						ng-model="vm.deadlineModel().timestamp"
						readonly="true" 
						required="true"
						placeholder="Choose a date ->">
					</input>
					<span class="input-group-btn">
						<button class="btn btn-success" type="button">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</div>

			</div>

			<div class="col-sm-6" style="display:flex;justify-content:center;align-items:center;">

					<div><uib-timepicker ng-model="vm.deadlineModel().timestamp" hour-step="1" minute-step="1" show-meridian="false"></uib-timepicker></div>

			</div>

		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-success" ng-click="vm.sendOk(vm.resource)">
			Save Changes
		</button>
		<button class="btn btn-warning" ng-click="vm.sendCancel()">
			Cancel
		</button>
		<button class="btn btn-danger" ng-click="vm.sendDelete()">
			Delete
		</button>
	</div>
</div>