<div>
	<ul class="list-unstyled">
		<li ng-repeat="dept in vm.departments | orderBy : 'name ' ">
			<h2>{{dept.name}} <small>department</small></h2>
			<ul ng-repeat="project in dept.projects | orderBy : vm.projectSortPredicate : false" >
				<li>
					<h4><span class="text-muted">Project:</span> <a ui-sref=".project({'id':project.id})">{{project.name}}</a></h4>
					<ul>
						<li>
							<span class="text-muted">Due:</span> 
							{{vm.getDeadline(project.deadlineId).date}}
						</li>
						<li ng-show = " vm.sortingStateB | isState">
							<span class="text-muted">Total Resources:</span> {{project.resources.length}}
						</li>
						<li ng-show=" vm.sortingStateA | isState " >
							<span class="text-muted">Resources:</span>
							<ul>
								<li ng-repeat="r_id in project.resources">{{ vm.getResource(r_id).name }}</li>
								<li ng-show="project.resources.length == 0"><em>No resources assigned to this project.</em></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<ul ng-show="dept.projects.length == 0">
				<li><em>No projects.</em></li>
			</ul>
		</li>
	</ul>
</div>