<div>
	<ul class="list-unstyled">
		<li ng-repeat="dept in vm.departments | orderBy : 'name ' ">
			<h2>
				<core-department-name id="dept.id"></core-department-name>
				<small> department</small>
			</h2>
			<ul ng-repeat="project in dept.projects | orderBy : vm.projectSortPredicate : false" >
				<li>
					<h4>
						<span class="text-muted">
							Project:
						</span> 
						<a ui-sref=".project({'id':project.id})">
							<core-project-name id="project.id"></core-project-name>
						</a>
					</h4>
					<ul>
						<li>
							<span class="text-muted">Due: </span> 
							<core-deadline-date id="project.deadlineId"></core-deadline-date>
						</li>
						<div>
							<core-resource-list
								resources="project.resources" 
								is-list  = "vm.sortingStateA | isState" 
								is-count = "vm.sortingStateB | isState">
							</core-resource-list>
						</div>
					</ul>
				</li>
			</ul>
			<ul ng-show="dept.projects.length == 0">
				<li><em>No projects.</em></li>
			</ul>
		</li>
	</ul>
</div>